body {
    background-image: url('coffee2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    
}
h1 {
    color: white;
    font-size: 48px;
    margin-top: 50px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 50px;
    margin: 30px 100px;
    text-align: center;
}

.div-1 {
    color: white;
    display: inline;
    font-size: 27px;
    text-align: left;
    margin: 30px 20px;
}

    .div-1 a {
        color: blue;
        text-decoration: none;
        font-size: 27px;
        margin: 30px 20px;
        
    }

    .div-1 a:hover {
        color: red;
        text-decoration: underline;
    }

p{
    color: white;
    font-size: 27px;
    margin: 30px 40px;
    text-align: left;
}

.span-1 {
    color: white;
    font-size: 20px;
    margin: 30px 5px;
    font-weight: bold;
}

